"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "autocomplete-plus": {}
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "erb-helper"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 19
    invisibles: {}
    showIndentGuide: true
  "ember-cli-helper": {}
  "exception-reporting":
    userId: "6cf6b0e0-4341-b3f2-5f72-fa5e0a3a3bc9"
  linter: {}
  "linter-erb": {}
  "linter-ui-default": {}
  "markdown-preview": {}
  metrics:
    userId: "42df55686ecbe85bd2c4a8262e5e86d2fdea8434"
  "one-dark-ui": {}
  "platformio-ide-terminal":
    core: {}
    style:
      theme: "pro"
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
  react: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
