packages: [
  "atom-bootstrap3"
  "atom-bootstrap4"
  "atom-wrap-in-tag"
  "atomatigit"
  "autoclose-html"
  "busy-signal"
  "ember-cli-helper"
  "emmet"
  "html-shorcuts-react"
  "intentions"
  "javascript-snippets"
  "language-diff"
  "language-javascript-jsx"
  "language-slim"
  "language-vue"
  "linter"
  "linter-ui-default"
  "materialize-css"
  "mdl-snippets"
  "package-sync"
  "platformio-ide-terminal"
  "pretty-json"
  "project-manager"
  "rails-snippets"
  "react-snippets"
  "seti-ui"
  "vuejs2-snippets"
]
